.about-sec {
	background-image: url("https://images.pexels.com/photos/2781814/pexels-photo-2781814.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: cover;
}
